<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- This is used by the StateManager's replicator. -->
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
  </Section>
  <!-- This is used for securing StateManager's replication traffic. -->
  <Section Name="ReplicatorSecurityConfig" />

  <!-- This is used to provide application-level configuration settings -->
  <Section Name="ServiceRunTimeConfig">
    <Parameter Name="InstrumentationKey" Value="" />
    <Parameter Name="OltpConnector" Value="" />
    <Parameter Name="OltpConnectionString" Value="" />
    <Parameter Name="LogsStorageConnectionString" Value="" />
    <Parameter Name="LogsStorageTableName" Value="" />
    <Parameter Name="IsEtwLogging" Value="" />
    <Parameter Name="IsAzureTableStorageLogging" Value="" />
  </Section>
</Settings>
